:root {
  --main-color: #2a3647;
  --icon: #a8a8a8;
  --style: #a8a8a8;
  --placeholder-text: #d1d1d1;
  --bottom-gradient: #f4f4f4;
  --black: #000000;
  --white: #ffffff;
  --light-blue: #29abe2;
  --button-urgent: #ff3d00;
  --button-medium: #ffa800;
  --button-low: #7ae229;
  --asterix: #ff8190;
}

.menuLogo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
  width: 100.03px;
  height: 121.97px;
}

.menu-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  height: 229px;
}

.menu-selection-button {
  display: flex;
  align-items: center;
  height: 46px;
  width: 232px;
  padding: 8px 56px 8px 56px;
  gap: 8px;
}

.menu-selection-icons {
  height: 30px;
  width: 30px;
}

.legal-information-container {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding-top: 243px;
}

.legal-information-button {
  display: flex;
  align-items: center;

  padding: 8px;
  gap: 8px;
}

.header-user-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

#help-icon {
  width: 32px;
  height: 32px;
}

#guest-icon {
  height: 56px;
  width: 56px;
}