:root {
  --main-color: #2a3647;
  --icon: #a8a8a8;
  --style: #D1D1D1;
  --bottom-gradient: #f4f4f4;
  --black: #000000;
  --white: #ffffff;
  --light-blue: #29abe2;
  --button-urgent: #ff3d00;
  --button-medium: #ffa800;
  --button-low: #7ae229;
  --asterix: #ff8190;
}

#help-icon {
  width: 32px;
  height: 32px;
}

#guest-icon {
  height: 56px;
  width: 56px;
}

.app-layout{
display: grid;
grid-template-columns: 232px 1fr;
grid-template-rows: 96px 1fr;
grid-template-areas:  "sidebar header"
    "sidebar content";
     height: 100vh;
     
     
}

#sidebar{
  grid-area: sidebar;
  background-color: #2a3647;
  color: white;
}

#header {
  grid-area: header;
  background-color: white;
  box-shadow: 0 4px 4px rgba(0,0,0,0.1);
}

.content {
  grid-area: content;
  background-color: #f4f4f4;
  overflow-y: auto;
}