.add-task {
  width: calc(100% - 232px);
  height: calc(100vh - 96px);
  min-width: calc(1440px - 232px);
  min-height: calc(1024px -96px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #F6F7F8;
}

.add-task-form {
  display: flex;
  flex-direction: column;
}

.add-task-form-div {
  display: flex;
}

.add-task-center-dividor {
  width: 1px;
  height: 376px;
  background-color: #D1D1D1;
}

.add-task-form-left {
  display: flex;
  flex-direction: column;
  width: 440px;
  height: 376px;
}

.add-task-form-left-title {
  display: flex;
  flex-direction: column;
  width: 440px;
  height: 96px;
  gap: 8px;
}

.add-task-form-left-description {
  width: 440px;
  height: 168px;
  gap: 8px;
}


.add-task-form-right {
  display: flex;
  flex-direction: column;
  width: 440px;
  height: 376px;
}

.add-task-priority-buttons {
  display: flex;
  justify-content: space-between;

}

.add-task-priority-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 136px;
  height: 56px;
  padding-top: 16px;
  padding-right: 10px;
  padding-bottom: 16px;
  padding-left: 10px;
  gap: 8px;
  border-radius: 10px;
  border: 1px solid #D1D1D1;
}

.add-task-priority-button-image {
  width: 20px;
  height: 14.51px;
}

.add-task-priority-button-medium-image {
  width: 20px;
  height: 7.45px;

}


.add-task-h1 {
  width: 100%;
  font-weight: 700;
  font-size: 61px;
  line-height: 120%;
  display: flex;
  justify-content: start;
}

.red-asterix-required {
  color: var(--asterix);
}

.mobile-required-text-no-asterix {
  width: 119px;
  height: 12px;

}

.add-task-form-buttons {
  width: 881px;
  display: flex;
  justify-content: space-between;
}

.label-add-task {
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0%;
  color: var(--main-color);
}

.label-add-task-black {
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0%;
  color: var(--black);
}

.add-task-input-style {
  height: 48px;
  padding-top: 12px;
  padding-right: 21px;
  padding-bottom: 12px;
  padding-left: 21px;
  gap: 10px;
  border-width: 1px;
  border-radius: 10px;
  border: 1px solid var(--placeholder-text);
}

.add-task-input-textarea-style {
  width: 440px;
  height: 136px;
  gap: 4px;
  padding-top: 12px;
  padding-right: 21px;
  padding-bottom: 12px;
  padding-left: 21px;
  gap: 10px;
  border-width: 1px;
  border-radius: 10px;
  border: 1px solid #D1D1D1;
}

.add-task-buttons-create-clear {
  width: 309px;
  height: 56px;
  top: 889px;
  left: 995.25px;
  gap: 16px;

}

.add-task-button-clear {
  width: 110px;
  height: 56px;
  gap: 4px;
  border-width: 1px;
  border-radius: 10px;
  padding: 16px;
}

.add-task-button-create {
  width: 183px;
  height: 56px;
  gap: 4px;
  border-radius: 10px;
  padding: 16px;
  background-color: var(--main-color);
}

.add-task-button-create :hover {
  width: 183px;
  height: 56px;
  gap: 4px;
  border-radius: 10px;
  padding: 16px;
  background-color: var(--light-blue);
  cursor: pointer;
}

.add-task-button-create-text {
  width: 123px;
  height: 24px;
  font-weight: 700;
  font-size: 21px;
  line-height: 120%;
  letter-spacing: 0%;
  color: var(--white);
}

.add-task-button-create-icon {
  width: 15.49px;
  height: 11.22px;
  margin-left: 8.51px;
}
