@media (1020px <= width <= 1440px) {
  .add-task-form-div-container {
    width: 500px;
    flex-direction: column;
    gap: 32px;
  }

  .add-task-form-left,
  .add-task-form-right {
    width: 100%;
    min-width: 500px;
  }

  .add-task-center-dividor {
    display: none;
  }

  .add-task-form-buttons {
    max-width: 500px;
    flex-direction: column;
    align-items: end;
   padding-bottom: 64px;
  padding-top: 10px;
  }

  .add-task-content {
    padding-top: 48px;
    padding-left: 48px;
  }

  .add-task-buttons-create-and-clear {}

  .required-main-bottom-legend {}

  .add-task-title {}


}

@media (650px <= width <= 1019px) {

  .add-task {
  padding-left: 96px;
  padding-right: 96px;
}

  .add-task-content {
    padding-top: 0;
    padding-left: 0;
  }


  .add-task-form-div-container {
    flex-direction: column;
    gap: 24px;
  }

  .add-task-form-left,
  .add-task-form-right {
    width: 100%;
    min-width: 0;
  }

  .add-task-center-dividor {
    display: none;
  }

  .add-task-buttons-create-and-clear {
    flex-direction: column;
    gap: 16px;
  }

  .add-task-form-left-title,
  .add-task-form-left-description {
    height: auto;
  }

  .add-task-center-dividor {
    display: none;
  }
}

@media (500px <= width <= 650px ) {
  .add-task {
  padding-left: 20px;
  padding-right: 20px;
}

  .add-task-content {
    padding-top: 0;
    padding-left: 0;
  }

  .add-task-h1{
    font-size: 48px;
  }

 .add-task-form-div-container {
    width: 100%;
    flex-direction: column;
    gap: 12px;
  }

  .add-task-form-left,
  .add-task-form-right {
    width: 100%;
    min-width: 0;
  }

  .add-task-center-dividor {
    display: none;
  }

  .add-task-buttons-create-and-clear {
    flex-direction: column;
    gap: 16px;
  }

  .add-task-form-left-title,
  .add-task-form-left-description {
    height: auto;
  }

  .add-task-center-dividor {
    display: none;
  }
}

@media (5px <= width <= 499px ) {
.label-add-task{
font-size: 16px;
}
.label-add-task-black{
font-size: 16px;
}
.add-task-input-style{
  font-size: 16px;
}
.add-task-input-textarea-style::placeholder,
.add-task-input-title-style::placeholder,
.add-task-input-placeholder-style::placeholder,
.add-task-input-date-style {
  font-size: 16px;
}
.add-task-placeholder-black::placeholder {
  font-size: 16px;
}
.ATcustom-dropdown-selected {
  font-size: 16px;
}

.add-task {
  padding-left: 20px;
  padding-right: 20px;
}

  .add-task-content {
    padding-top: 0;
    padding-left: 0;
  }

  .add-task-h1{
    font-size: 48px;
  }

 .add-task-form-div-container {
    width: 100%;
    flex-direction: column;
    gap: 12px;
  }

  .add-task-form-left,
  .add-task-form-right {
    width: 100%;
    min-width: 0;
  }

  .add-task-center-dividor {
    display: none;
  }

  .add-task-buttons-create-and-clear {
    flex-direction: column;
    gap: 16px;
  }

  .add-task-form-left-title,
  .add-task-form-left-description {
    height: auto;
  }

  .add-task-center-dividor {
    display: none;
  }
  .add-task-priority-buttons {
  height: 40px;
}
.add-task-priority-button {
  width: 120px;
  height: 40px;
  padding-top: 16px;
  padding-right: 10px;
  padding-bottom: 16px;
  padding-left: 10px;
  font-weight: 400;
  font-size: 16px;
}
.ATContact-option-name {
  font-size: 16px;
}
.ATContact-option-intials-container {
  width: 32px;
  height: 32px;
}
.ATcustom-dropdown {
  width: 100%;
  padding: 0;
}
.ATcustom-dropdown-option {
  padding-right: 0;
  padding-left: 0;
}

}