.contacts {
  width: 100%;
  height: calc(100vh - 96px);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  background-color: #F6F7F8; 
}

.contacts-left-container {
  width: 456px;
  height: 100%;
  background-color: var(--white);
  box-shadow: 4px 0px 6px 0px rgba(0, 0, 0, 0.125);
}

.contacts-right-container {
  width: 100%;
  height: 100%;
  background-color: #F6F7F8;
}

.add-new-contact {
  width: 456px;
  height: 101px;
  background: #ffffff;
  background: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.contacts-button-add-new-contact {
  width: 352px;
  height: 56px;
  top: 22.5px;
  left: 52px;
  border-radius: 10px;
  border-width: 1px;
  padding-top: 12px;
  padding-bottom: 12px;
  gap: 16px;
  background: var(--main-color);
  border: 1px solid var(--main-color);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 21px;
  font-weight: 700;
  line-height: 120%;
  cursor: pointer;
}

.contacts-button-add-new-contact img {
    width: auto;
    height: 21px;
    object-fit: contain;
}

.contacts-button-add-new-contact:hover {
  transform: translateY(0px) scale(1.005);
  background: var(--light-blue);
  border: 1px solid var(--light-blue);
  cursor: pointer;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.contacts-button-add-new-contact:active {
  transform: scale(0.9);
  box-shadow: 0px 4px 2px 0px rgba(0, 0, 0, 0.25);
}

.contacts-right-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 625px;
  height: 73px;
  margin-left: 40px;
  margin-top: 100px;
  gap: 30px;
}

.contacts-right-title {
  font-weight: 700;
  font-size: 61px;
  line-height: 120%;
  letter-spacing: 0%;
}

.contacts-right-vector {
  height: 59px;
  border: solid 3px #29abe2;
}

.contacts-right-credo {
  font-weight: 400;
  font-size: 27px;
  line-height: 120%;
  letter-spacing: 0%;
  color: #2a3647;
}

.contact-line {
    width: 352px;
    height: 1px;
    background-color: #D1D1D1;
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 3px;
}

.capital-letter {
    width: 352px; 
    height: 58px;
    padding: 17px 24px;
    display: flex;
    align-items: flex-start;
    text-align: left; 
    font-size: 20px;
    line-height: 120%;
    font-weight: 400;
    color: #000000;
}

.contact-list {
    display: flex;
    flex-direction: column;
    align-items: center;       /* <-- wichtig */
    width: 452px;
    height: calc(100vh - 200px); 
    background-color: #FFFFFF;
    padding: 32px 24px;
    overflow-y: auto; 
}

.contact-line {
    width: 352px;
    height: 1px;
    min-height: 1px;
    background-color: #D1D1D1;
    display: flex;
    gap: 10px;
    border: none;
}

.contact-entry {
    display: flex;
    align-items: center;
    gap: 35px;
    padding: 8px;
    max-width: 352px;
    width: 100%;
    height: 78px;
    box-sizing: border-box;
    border-radius: 8px;
    transition: background-color 0.2s ease;
    margin-bottom: 20px;
}

.contact-icon {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    color: white;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;

}

.contact-profil-badge 
{
    display: flex;
    justify-content: center;
    align-items: center;

}

.contact-information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.contact-name {
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    text-align: left;
    color: #000000;
}

.contact-email {
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    text-align: left;
    color: #007CEE;
}

.contact-entry:hover {
    cursor: pointer;
    background: linear-gradient(#F9F9F9 0%,#F0F0F0 100%);
}

.contact-entry:active {
    background-color: #2A3647;
}

.contact-detail-container {
    display: flex;
    flex-direction: column;
    gap: 21px;
    width: 461px;
    height: 364px;
    margin-left: 70px;
    margin-top: 40px;
}

.contacts-right {
    display: flex;
    flex-direction: column;
}

.contact {
    display: flex;
    gap: 54px;
    align-items: center;
    justify-content: flex-start;
}

.contact-details-icon {
    width: 120px;
    height: 120px;
    border-radius: 70px;
    border: 3px solid #FFFFFF;
    display: flex;
    font-size: 47px;
    line-height: 120%;
    text-align: center;
    font-weight: 500;
    gap: 10px;
    color: white;
    justify-content: center;
    align-items: center;
}

.contact-profil {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.contact-profil-name {
    display: flex;
    justify-content: flex-start;
    gap: 5px;
    font-size: 47px;
    line-height: 120%;
    font-weight: 500;
    color: #000000;
}

.contact-profil-btns-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 13px;
}

.contact-profil-btn-edit {
    width: 62px;
    height: 24px;
    display: flex;
    gap: 8px;
    background-color: #F6F7F8;
    align-items: center;
    border: none;
    cursor: pointer;
}

.contact-profil-btn-delete {
    width: 81px;
    height: 24px;
    display: flex;
    gap: 8px;
    align-items: center;
    background-color: #F6F7F8;
    border: none;
    cursor: pointer;
}

.contact-informations-email-phone {
    display: flex;
    gap: 59px;
    height: 74px;
}

.contact-informations-email-phone h4 {
    font-size: 20px;
    line-height: 120%;
    font-weight: 400;
    color: #000000;
}

.contact-email-phone {
    display: flex;
    flex-direction: column;
    gap: 22px;
    height: 128px;
}

.contact-email-phone span {
    font-weight: 700;
    font-size: 16px;
    line-height: 120%;
    color: #000000;
}

.contact-phone {
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: #000000;
}