.content-limit{
max-width: 1920px;
width: 100%;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1920px;
  margin: 0 auto;
  padding: 16px 32px;
  box-sizing: border-box;
}