.menu-selection-button:hover {
  background-color: #2d476b;
  cursor: pointer;
}
.aside-content {
  padding-top: 64px;
  padding-bottom: 64px;
  width: 233px;
  background-color: #2a3647;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.menuLogo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
  width: 100.03px;
  height: 121.97px;
}

.menu-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  height: 229px;
}

.menu-selection-button {
  display: flex;
  align-items: center;
  height: 46px;
  width: 232px;
  padding: 8px 56px 8px 56px;
  gap: 8px;
}

.menu-selection-icons {
  height: 30px;
  width: 30px;
}

.legal-information-container {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding-top: 243px;
}

.legal-information-button {
  display: flex;
  align-items: center;

  padding: 8px;
  gap: 8px;
}

@media (max-width: 1020px) {
  .aside-content {
    width: 100%;
    height: 80px;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #2a3647;
    z-index: 100;
  }

  .aside-content a {
    font-size: 14px;
  }

  .menuLogo-container,
  .legal-information-container {
    display: none; /* Logo und Footer entfernen */
  }

  .menu-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 100%;
    gap: 0;
  }

  .menu-selection-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 100%;
    padding: 4px;
    border-radius: 16px;
  }

  .menu-selection-icons {
    width: 24px;
    height: 24px;
  }

  .menu-selection-button:hover {
    background-color: #091931;
    cursor: pointer;
  }

  .menu-selection-icons {
    height: 24px;
    width: 24px;
  }
}
