* {
  box-sizing: border-box;
  margin: 0;
  scroll-behavior: smooth;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
header {
  width: 100vw;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  height: 96px;
}
.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1480px;
  padding: 20px 40px 20px 348px;
}
.main-content {
  display: flex;
}

.aside-content {
  padding-top: 64px;
  padding-bottom: 64px;
  width: 233px;
  background-color: #2a3647;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
a {
  text-decoration: none;
  color: white;
}

.d_none {
  display: none;
}

