.summary-head-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 625px;
  height: 73px;
  position: absolute;
  top: 206px;
  left: 328px;
  gap: 30px;
}

.summary-head-content h2 {
  font-size: 61px;
}
.summary-head-vector {
  height: 59px;
  border: solid 3px #29abe2;
}

.summary-head-content p {
  font-size: 27px;
  font-weight: 400;
}

.summary-greating-user {
  display: flex;
  flex-direction: column;
  height: 136px;
  width: 385px;
  position: absolute;
  top: 547.5px;
  left: 968px;
  gap: 3px;
}

.summary-greating-user h2 {
  font-size: 47px;
  font-weight: 500;
}
.summary-greating-user p {
  font-size: 64px;
  font-weight: 700;
  color: #29abe2;
}
.summary-overview {
  height: 562px;
  width: 560px;
  position: absolute;
  top: 335px;
  left: 328px;
}

.summary-overview-taskline {
  display: flex;
  position: absolute;
  top: 392px;
}
.summary-overview-taskbox-one {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 169px;
  height: 168px;
  position: absolute;
  top: 1px;
  border-radius: 30px;
  padding-top: 25px;
  padding-bottom: 25px;
  gap: 13px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
  transition: transform 0.15s ease;
  transform-origin: bottom left;
}
.summary-overview-taskbox-two {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 169px;
  height: 168px;
  position: absolute;
  top: 1px;
  left: 196px;
  border-radius: 30px;
  padding-top: 25px;
  padding-bottom: 25px;
  gap: 13px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
  transition: transform 0.15s ease;
  transform-origin: bottom center;
}
.summary-overview-taskbox-three {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 169px;
  height: 168px;
  position: absolute;
  top: 1px;
  left: 392px;
  border-radius: 30px;
  padding-top: 25px;
  padding-bottom: 25px;
  gap: 13px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
  transition: transform 0.15s ease;
  transform-origin: bottom right;
}

.summary-overview-taskbox-inside {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 93px;
  height: 125px;
}

.summary-overview-number {
  font-size: 64px;
  font-weight: 600;
}

.summary-overview-text {
  font-size: 20px;
  font-weight: 400;
}

.summary-overview-urgent {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 560px;
  height: 168px;
  position: absolute;
  top: 196px;
  border-radius: 30px;
  padding-top: 28px;
  padding-right: 48px;
  padding-bottom: 28px;
  padding-left: 48px;
  gap: 61px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
  transition: transform 0.15s ease;
  transform-origin: top left;
}

.summary-overview-urgent-vector {
  height: 102.02px;
  border: solid 2px #d1d1d1;
}
.summary-overview-urgent-deadline {
  display: flex;
  flex-direction: column;
  height: 57px;
  width: 178px;
  gap: 13px;
}

.summary-overview-urgent-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 18px;
  height: 96px;
  width: 130px;
}
.summary-overview-urgent-content img {
  display: flex;
  gap: 10px;
  height: 60px;
  width: 60px;
}
.summary-overview-urgent-text-content {
  height: 96px;
  width: 52px;
  text-align: center;
}
.summary-overview-urgent-number {
  width: 50px;
  height: 77px;
  font-size: 64px;
  font-weight: 600;
}
.summary-overview-urgent-text {
  height: 52px;
  width: 19px;
  font-size: 16px;
  font-weight: 400;
}

.summary-overview-urgent-date {
  width: 178px;
  height: 25px;
  font-size: 21px;
  font-weight: 700;
}

.summary-overview-urgent-datetext {
  height: 148px;
  height: 19px;
  font-size: 16px;
  font-weight: 400;
}

.summary-overview-main {
  display: flex;
  height: 168px;
  width: 560px;
}

.summary-overview-main-box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 168px;
  width: 264px;
  border-radius: 30px;
  padding-top: 38px;
  padding-right: 19px;
  padding-bottom: 38px;
  padding-left: 18px;
  gap: 18px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
  transition: transform 0.15s ease;
  transform-origin: left center;
}
.summary-overview-main-box img {
  display: flex;
  gap: 10px;
  height: 69px;
  width: 69px;
}

.summary-overview-main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 101px;
  width: 63px;
}

.summary-overview-main-number {
  width: 31px;
  height: 77px;
  font-size: 64px;
  font-weight: 600;
}
.summary-overview-main-text {
  width: 63px;
  height: 24px;
  font-size: 20px;
  font-weight: 400;
}
.summary-overview-main-box-two {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 296px;
  height: 168px;
  width: 264px;
  border-radius: 30px;
  padding-top: 38px;
  padding-right: 19px;
  padding-bottom: 38px;
  padding-left: 18px;
  gap: 18px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
  transform-origin: right center;
  transition: transform 0.15s ease;
}

.summary-overview-main-box:hover {
  cursor: pointer;
  transform: scale(1.05);
  color: white;
  background-color: #2a3647;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}

.summary-overview-main-box-two:hover {
  cursor: pointer;
  transform: scale(1.05);
  color: white;
  background-color: #2a3647;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}
.summary-overview-urgent:hover {
  cursor: pointer;
  transform: scale(1.05);
  color: white;
  background-color: #2a3647;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}

.summary-overview-taskbox-one:hover {
  cursor: pointer;
  transform: scale(1.05);
  color: white;
  background-color: #2a3647;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}

.summary-overview-taskbox-two:hover {
  cursor: pointer;
  transform: scale(1.05);
  color: white;
  background-color: #2a3647;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}

.summary-overview-taskbox-three:hover {
  cursor: pointer;
  transform: scale(1.05);
  color: white;
  background-color: #2a3647;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}
