.summary-grid {
  margin: 0;
  padding: 0;
}

.summary-main-content {
  display: block;
  max-width: 396px;
}

.summary-greating-user {
  display: none;
}
.summary-head-vector {
  display: none;
}
.summary-head-content {
  display: block;
}
.summary-head-vector-mobile {
  width: 90px;
  height: 2px;
  background-color: #29abe2;
}

.summary-head-content h2 {
  font-size: 47px;
}
.summary-head-content {
  width: 100%;
}
.summary-head-content p {
  font-size: 20px;
  margin-bottom: 16px;
}

.summary-layout {
  padding: 16px;
  width: 100%;
}

.box-row .box {
  height: 110px;
}

.box-urgent {
  height: 110px;
}

.box-board,
.box-progress,
.box-feedback {
  height: 110px;
}

.date {
  font-size: 16px;
}

.label {
  font-size: 14px;
  max-width: 59px;
}

.number {
  font-size: 47px;
}

.icon {
  width: 40px;
  height: 40px;
}

.text {
  display: flex;
  justify-content: center;
  align-items: center;
}
